<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="../../static/css/style.css" rel="stylesheet">

</head>

<body>
<header>
    <nav style="height: 70px" id="main" class="navbar navbar-expand-lg">
        <a style="float: left;"><img alt="Brand" class="img-responsive" src="../../static/img/brand.png">
        </a>
        <a style="font-size: 30px; color: rgb(255, 228, 196); font-weight: bold;" href="index.html" class="nav-link"
           href="#">
            TwoPizza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" , id=xuyeta>
                <li class="nav-item active"><a class="nav-link" href="Menu.html"></i>Меню</a></li>
                <li class="nav-item active"><a class="nav-link" href="Constructor_Pizza.html">Конструктор</a></li>
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">Про сайт</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Registration.html">Реєстрація</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main>
        <div class="divka">
            <p class="title" id="d">ЧОМУ КЛІЄНТИ ВИБИРАЮТЬ СЛУЖБУ ДОСТАВКИ TWO PIZZA?<br></p>
            <p class="info"><samp style="color:#e3af1e">+</samp> Тому що - компанія TWO PIZZA більше всіх цінує і любить
                своїх
                Клієнтів!<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми популярні. Справжні цінителі піци, суші вибирають
                службу доставки TWO PIZZA.<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми досвідчені. Нам 9 років! Ми перевірені часом - нам
                можна довіряти.<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми швидкі. Ми розуміємо, що Ви вже зголодніли і дуже
                поспішаємо до Вас!<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми смачні. Замовили у нас - повертаються знову і
                знову.<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми ситні. У нас дуже багато начинки в піці і ролах.<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми якісні. Ми використовуємо справжній сир моцарелла,
                борошно тільки вищого гатунку, знаменитий норвезький лосось, смачний бекон
                і салямі, виключно свіжі овочі. І ніякої сої!<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми зручні. У наших кур'єрів завжди готова здача, у нас є
                можливість
                розрахунку через кредитні картки та систему електронних грошей.<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми відповідальні. Наші виробництва чисті, технологічні,
                професійні. <br>
                Наші кухарі та сушисти вкладають всю свою майстерність і любов в кожну одиницю продукції.<br>
                <samp style="color:#e3af1e">+</samp> Тому що - ми надійні. Наша робота перевірені часом, ми навчилися
                визнавати свої<br>
                помилки, працювати і розвиватися далі. Ми цінуємо кожного клієнта і боремося за <br>
                нього завжди. Нам можна довірити організацію столу на свій день народження, <br>
                на особливий день, на свято! Ми не підведемо: буде смачно, швидко і красиво!<br>
                <samp style="color:#e3af1e">+</samp>Тому що - ми дуже вдячні нашим дорогим і улюбленим Клієнтам!
            </p>
        </div>
    </main>
    <aside class="div">
        <div>
            <div style="border: 0px black solid; height: 1100px; width: 300px " class="div">
                <p style="font-size: 30px;font-weight: bold; color: #e3af1e; text-align: center"> Pizza дня<br>
                <hr style="border: 3px black solid;">
                </p>
                <button style="background-color: sandybrown; width: 300px;border: 0 transparent solid" class="side">

                    <p style="text-indent: 2px ; float: left; width: 100px;">
                        <img alt="Brand" class="img-responsive" src="../../static/img/small/pc.png">
                    </p>
                    <a id="daily" href="pizza with anchous.html"><h3 class="name">Піца з анчоусами</h3></a>

                    <hr style="width: 200px ;border: 2px black solid;">
                    <p id="price">Ціна: 90грн</p>
                    <br>
                    <p id="mass">Вага: 400г</p>
                    <p id="ingradients">Філе анчоуса в олії,<br> Моцарела,<br> помідори,<br>Цибуля,<br>Пармезан,<br>Каперси,<br>Каперси,<br>гострий
                        перець,</p>
                </button>
                <hr style="border: 0px black solid;">


                <p style="font-size: 30px;font-weight: bold; color: #e3af1e; text-align: center"> Акція -33%<br>
                <hr style="border: 3px black solid;">
                </p>
                <button style="background-color: sandybrown; width: 300px; border: 0 transparent solid" class="side">

                    <p style="text-indent: 2px ; float: left; width: 100px;">
                        <img alt="Brand" class="img-responsive" src="../../static/img/small/kn.png">
                    </p>
                    <a id="promotional" href="Pizza in conus form.html"><h3 class="name">Піца у формі конуса</h3></a>

                    <hr style="width: 200px ;border: 2px black solid;">
                    <p id="price">Ціна: 100грн</p>
                    <br>
                    <p id="mass">Вага: 300г</p>
                    <p id="ingradients">гриби ,<br> ріпчаста цибуля,<br> шинка ,<br>сир ,<br>болгарський перець ,<br>помідори
                        чері ,<br>зелень
                        ,<br>томатний соус ,</p>
                </button>
                <hr style="border: 3px black solid;">
            </div>
        </div>
    </aside>

</div>
<footer>
    <hr style="border: 0px black solid;">
    <pre class="title">Контакти: +38096745568                                     Також можете зєднатися з нами через соц. мережі: @twopizza(Instagram та Facebook)                     Доставка: Львів, Рівне, Київ, Стрий</pre>
</footer>
</body>