<!DOCTYPE html>
<html lang="en">

<head>
    <title>Constructor</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="../../static/css/style.css" rel="stylesheet">

    <script>
        function glaw1(myid) {
            document.getElementById('r1').style.display = "none";
            document.getElementById('r2').style.display = "none";
            document.getElementById(myid).style.display = "block";
        };
    </script>
    <script>
        function glaw2(myid1) {
            document.getElementById('r3').style.display = "none";
            document.getElementById('r4').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw3(myid1) {
            document.getElementById('r5').style.display = "none";
            document.getElementById('r6').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw4(myid1) {
            document.getElementById('r7').style.display = "none";
            document.getElementById('r8').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw5(myid1) {
            document.getElementById('r9').style.display = "none";
            document.getElementById('r10').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw6(myid1) {
            document.getElementById('r11').style.display = "none";
            document.getElementById('r12').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw7(myid1) {
            document.getElementById('r13').style.display = "none";
            document.getElementById('r14').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw8(myid1) {
            document.getElementById('r15').style.display = "none";
            document.getElementById('r16').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw9(myid1) {
            document.getElementById('r17').style.display = "none";
            document.getElementById('r18').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw10(myid1) {
            document.getElementById('r19').style.display = "none";
            document.getElementById('r20').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw11(myid1) {
            document.getElementById('r21').style.display = "none";
            document.getElementById('r22').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw12(myid1) {
            document.getElementById('r23').style.display = "none";
            document.getElementById('r24').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw13(myid1) {
            document.getElementById('r25').style.display = "none";
            document.getElementById('r26').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw14(myid1) {
            document.getElementById('r27').style.display = "none";
            document.getElementById('r28').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw15(myid1) {
            document.getElementById('r29').style.display = "none";
            document.getElementById('r30').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw16(myid1) {
            document.getElementById('r31').style.display = "none";
            document.getElementById('r32').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw17(myid1) {
            document.getElementById('r33').style.display = "none";
            document.getElementById('r34').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw18(myid1) {
            document.getElementById('r35').style.display = "none";
            document.getElementById('r36').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw19(myid1) {
            document.getElementById('r37').style.display = "none";
            document.getElementById('r38').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw20(myid1) {
            document.getElementById('r39').style.display = "none";
            document.getElementById('r40').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw21(myid1) {
            document.getElementById('r41').style.display = "none";
            document.getElementById('r42').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw22(myid1) {
            document.getElementById('r43').style.display = "none";
            document.getElementById('r44').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw23(myid1) {
            document.getElementById('r45').style.display = "none";
            document.getElementById('r46').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw24(myid1) {
            document.getElementById('r47').style.display = "none";
            document.getElementById('r48').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>
    <script>
        function glaw25(myid1) {
            document.getElementById('r49').style.display = "none";
            document.getElementById('r50').style.display = "none";
            document.getElementById(myid1).style.display = "block";
        };
    </script>

</head>

<body>
    <header>
        <nav style="height: 70px" id="main" class="navbar navbar-expand-lg">
            <a style="float: left;"><img alt="Brand" class="img-responsive" src="../../static/img/brand.png">
            </a>
            <a style="font-size: 30px; color: rgb(255, 228, 196); font-weight: bold;" href="index.html" class="nav-link"
               href="#">
                TwoPizza</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" , id=xuyeta>
                    <li class="nav-item active"><a class="nav-link" href="Menu.html"></i>Меню</a></li>
                    <li class="nav-item active"><a class="nav-link" href="Constructor_Pizza.html">Конструктор</a></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about.html">Про сайт</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Registration.html">Реєстрація</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
<div class="container" id=chlen>
    <main>
        <div class="divka">
            <p class="title">Зроби свою піцу,на будь якій смак!!!</p>
            <table id="const">

                <tr class="info">
                    <td>Філе анчоуса в олії</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw1('r1')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw1('r2')"></td>
                    <td id="r1">0</td>
                    <td id="r2" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Шинка</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw2('r3')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw2('r4')"></td>
                    <td id="r3">0</td>
                    <td id="r4" style="display:none;"> 1</td>
                </tr>

                <tr class="info">
                    <td>Помідори</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw3('r5')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw3('r6')"></td>
                    <td id="r5">0</td>
                    <td id="r6" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Цибуля</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw4('r7')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw4('r8')"></td>
                    <td id="r7">0</td>
                    <td id="r8" style="display:none;"> 1</td>
                <tr class="info">
                    <td>Ріпчаста цибуля</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw5('r9')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw5('r10')"></td>
                    <td id="r9">0</td>
                    <td id="r10" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Гриби</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw6('r11')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw6('r12')"></td>
                    <td id="r11">0</td>
                    <td id="r12" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Часник</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw7('r13')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw7('r14')"></td>
                    <td id="r13">0</td>
                    <td id="r14" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Каперси</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw8('r15')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw8('r16')"></td>
                    <td id="r15">0</td>
                    <td id="r16" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Гострий перець</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw9('r17')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw9('r18')"></td>
                    <td id="r17">0</td>
                    <td id="r18" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Картопля</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw10('r19')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw10('r20')"></td>
                    <td id="r19">0</td>
                    <td id="r20" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Болгарський перець</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="gla11('r21')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw11('r22')"></td>
                    <td id="r21">0</td>
                    <td id="r22" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Помідори чері</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw12('r23')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw12('r24')"></td>
                    <td id="r23">0</td>
                    <td id="r24" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Сир пармезан</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw13('r25')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw13('r26')"></td>
                    <td id="r25">0</td>
                    <td id="r26" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Сир моцарела</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw14('r27')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw14('r28')"></td>
                    <td id="r27">0</td>
                    <td id="r28" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Тертий сир (твердих сортів)</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw15('r29')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw15('r30')"></td>
                    <td id="r29">0</td>
                    <td id="r30" style="display:none;"> 1</td>
                </tr>
                <tr class="info">
                    <td>Яблука</td>
                    <td><input class="btn btn-outline-warning" type="button" value="-" style="width:75px;" onClick="glaw16('r31')"></td>
                    <td><input class="btn btn-outline-warning" type="button" value="+" style="width:75px;" onClick="glaw16('r32')"></td>
                    <td id="r31">0</td>
                    <td id="r32" style="display:none;"> 1</td>
                </tr>
            </table>

        </div>
    </main>
    <aside class="div">
        <div>
            <div style="border: 0px black solid; height: 1100px; width: 300px " class="div">
                <p style="font-size: 30px;font-weight: bold; color: #e3af1e; text-align: center"> Pizza дня<br>
                <hr style="border: 3px black solid;">
                </p>
                <button style="background-color: sandybrown; width: 300px;border: 0 transparent solid" class="side">

                    <p style="text-indent: 2px ; float: left; width: 100px;">
                        <img alt="Brand" class="img-responsive" src="../../static/img/small/pc.png">
                    </p>
                    <a id="daily" href="pizza with anchous.html"><h3 class="name">Піца з анчоусами</h3></a>

                    <hr style="width: 200px ;border: 2px black solid;">
                    <p id="price">Ціна: 90грн</p>
                    <br>
                    <p id="mass">Вага: 400г</p>
                    <p id="ingradients">Філе анчоуса в олії,<br> Моцарела,<br> помідори,<br>Цибуля,<br>Пармезан,<br>Каперси,<br>Каперси,<br>гострий
                        перець,</p>
                </button>
                <hr style="border: 0px black solid;">


                <p style="font-size: 30px;font-weight: bold; color: #e3af1e; text-align: center"> Акція -33%<br>
                <hr style="border: 3px black solid;">
                </p>
                <button style="background-color: sandybrown; width: 300px; border: 0 transparent solid" class="side">

                    <p style="text-indent: 2px ; float: left; width: 100px;">
                        <img alt="Brand" class="img-responsive" src="../../static/img/small/kn.png">
                    </p>
                    <a id="promotional" href="Pizza in conus form.html"><h3 class="name">Піца у формі конуса</h3></a>

                    <hr style="width: 200px ;border: 2px black solid;">
                    <p id="price">Ціна: 100грн</p>
                    <br>
                    <p id="mass">Вага: 300г</p>
                    <p id="ingradients">гриби ,<br> ріпчаста цибуля,<br> шинка ,<br>сир ,<br>болгарський перець ,<br>помідори
                        чері ,<br>зелень
                        ,<br>томатний соус ,</p>
                </button>
                <hr style="border: 3px black solid;">
            </div>
        </div>
    </aside>

</div>
<footer>
    <hr style="border: 0px black solid;">
    <pre class="title">Контакти: +38096745568                                     Також можете зєднатися з нами через соц. мережі: @twopizza(Instagram та Facebook)                     Доставка: Львів, Рівне, Київ, Стрий</pre>
</footer>
</body>

</html>