<!DOCTYPE html>

<head>
    <title>TwoPizza</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="../../static/css/style.css" rel="stylesheet">
</head>

<body>
<header>
    <nav style="height: 70px" id="main" class="navbar navbar-expand-lg">
        <a style="float: left;"><img alt="Brand" class="img-responsive" src="../../static/img/brand.png">
        </a>
        <a style="font-size: 30px; color: rgb(255, 228, 196); font-weight: bold;" href="index.html" class="nav-link"
           href="#">
            TwoPizza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" , id=xuyeta>
                <li class="nav-item active"><a class="nav-link" href="Menu.html"></i>Меню</a></li>
                <li class="nav-item active"><a class="nav-link" href="Constructor_Pizza.html">Конструктор</a></li>
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">Про сайт</a>
                </li>
                <li class="nav-item active">

                    <a class="nav-link" href="Registration.html">Реєстрація</a>                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main>
        <div class="divka">
            <span><h3 class="title">Цікаві факти про піцу</h3></span>
            <img style="float: left ;" class="img-responsive"
                 src="https://facti.info/images/2014/9/interesnie-fakti-o-pitstse.jpg">

            <p class="info">Відоме блюдо італійської кухні, яку люблять мільйони людей в усьому світі – це піца.
                Проводили
                опитування,
                результати якого з’ясували, що 78% респондентів називають піцу своєю улюбленою стравою.Кожна людина
                може вибрати
                піцу по своєму смаку, так як існує маса різноманітних інгредієнтів і начинок. У всьому світі за добу
                з’їдається
                близько 500 мільйонів піц. Такі цифри були отримані з представлених даних кафе, ресторанів, піцеріями.
                І так –
                цікаві факти про піцу:

                – В 1738 році, в італійському Неаполі, була відкрита перша в світі піцерія. Вона носила назву Антика.

                – Вегетаріанську піцу жінки замовляють в два рази частіше, ніж чоловіки.

                – У США, з 1987 року, більше 23 років, місяць жовтень офіційно вважається місяцем піци.

                -Як показує статистика, в Америці кожну секунду з’їдають 350 шматочків піци.

                – У ресторанному бізнесі Америки дуже високий відсоток складають саме піцерії. У цій країні кожне шосте
                заклад – це
                піцерія.

                – Pizza Hut – так називається найбільша мережа піцерії в Америці.

                – Мінімум один раз на місяць у їжу вживають піцу 93% жителів Сполучених Штатів.

                – Статистика свідчить, що доставка піци замовляється найчастіше в такі дні, як День незалежності, Новий
                Рік,
                Хеллоуїн. А так само піца популярна в дні фіналів спортивних змагань.

                – Пепероні ( різновид гострої салямі італійсько-американського походження) – є самим популярним
                інгредієнтом піци.
                Кожна третя піца виготовляється з пепероні. Саме з цим інгредієнтом 36% продаваних піц.

                – У 1990 році, в одному супермаркеті Норвуда в ПАР, була приготована найбільша кругла піца в світі.
                Вага цієї
                «крихітки» становив 12 тонн, а в діаметрі вона мала 37,4 метра. Для приготування знадобилося приблизно
                4500
                кілограм борошна, 900 кілограм соусу, а так само 1800 кілограм сиру.

                – А в 2005 році Айова-Фоллз, Айова, була приготована найбільша в світі прямокутна піца. Білл Бэхо,
                власник піцерії,
                а так само його 200 помічників, піцу приготували розміром 39,32 на 30, 05 метра. До складу такої досить
                значної
                піци входило 9500 коржів, використано 320 кілограм соусу, а так само 1815 кілограм сиру.</p>

            <br>
            <br>
            <br>
            <h3 class="title">9 Кумедних фактів про піцу</h3>
            <img style="float: left ;" class="img-responsive" src="../../static/img/big/456456.jpg">
            <br>
            <br>
            <span style="font-size: 20px" class="title">Піццафест </span>
            <br>
            <br>
            <p class="info">У німецькому Октоберфесту італійці придумали своє національне свято - Піццафест, що
                проходить у вересні в
                Неаполі, на батьківщині піци.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">500 мільйонів піц на добу </span>
            <br>
            <br>
            <p class="info"> По всьому світу щорічно продаються мільярди піц, з'їдається 500 млн піц в день. Тільки
                бразильці в день
                з'їдають більше мільйона піц. Американці їдять близько 100 гектарів піци в день (близько 350 шматків в
                секунду). Середній американець з'їдає 46 шматків піци на рік, а це 10,5 кг. А середній європеєць - 300
                кг
                піци на рік. В Італії виробляється 2,5 млрд піц на рік.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">Більше не буває </span>
            <br>
            <br>
            <p class="info">У США найбільша піца для доставки додому має діаметр 1,2 м. Найбільше чайових при доставці
                дають жінки -
                зазвичай це від 2 до 20 доларів, при цьому, як відзначають кур'єри, чим більше роздягнений чоловік при
                отриманні піци, тим більше чайових він залишає. Найдовша відстань, на яку була доставлена піца, - більше
                11
                тис. км, з Кейптауна в Сідней.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">На швидкість </span>
            <br>
            <br>
            <p class="info">Найшвидший піцайоло може зробити 14 піц за 2 хвилини 35 секунд, а 3 піци - менше ніж за
                хвилину. З'їдається
                піца трохи повільніше: рекордсмен в цьому «виді спорту» може з'їсти 45 шматків піци за 10 хвилин.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">Контроль якості на державному рівні </span>
            <br>
            <br>


            <p class="info">В Італії рецепт приготування правильної піци захищений законом про автентичні продукти. Її
                діаметр не може
                перевищувати 35 см, товщина разом з начинкою - 2 см. Готувати таку піцу потрібно в дров'яній печі при
                температурі 450 градусів.
                Історія піци</p>

            <p class="info">А чи ви знали, що найстарішій піцерії 275 років, і вона знаходиться в Неаполі, досі відкрита
                і радує своїх
                гостей класичної італійської піцою. Всього в Італії більше 40 тис. піцерій, понад 800 з них розташовані
                в
                Неаполі.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">Родина</span>
            <br>
            <br>


            <p class="info">Незамінний інгредієнт будь-якої піци - томат - був завезений до Європи в 16 столітті з
                Південної Америки.
                Перше блюдо з томатів було приготовлено ... правильно, в Неаполі.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">Корисна піца</span>
            <br>
            <br>


            <p class="info">Італійські вчені виявили, що любителі піци менше хворіють на рак стравоходу і шлунка, ніж
                середньостатистичні люди. Вважається, що ця дія лікопіну - сильного антиоксиданту, що міститься в
                томатах у
                великій кількості.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">Дітям - сир, японцям - картоплю</span>
            <br>
            <br>


            <p class="info">Піца - улюблена їжа у дітей у віці від 3 до 11 років. Найчастіше вони воліють прості
                варіанти - з сиром,
                шинкою, креветками. Жінки частіше за чоловіків замовляють піцу з овочами. Японці люблять піцу з
                кальмарами,
                майонезом, беконом і картоплею. Гурмани ж можуть покуштувати піцу з устрицями, раками, кульбабами,
                капустою,
                баклажанами, артишоками та іншими інгредієнтами.</p>
            <br>
            <br>
            <span style="font-size: 20px" class="title">Аромат піци</span>
            <br>
            <br>


            <p class="info">В Італії можна купити парфуми та косметичні засоби з запахом піци. В основі рецепта - тільки
                натуральні
                інгредієнти: масла орегано і базиліка, а також томатний екстракт.</p>
        </div>
    </main>
    <aside class="div">
        <div>
            <div style="border: 0px black solid; height: 1100px; width: 300px " class="div">
                <p style="font-size: 30px;font-weight: bold; color: #e3af1e; text-align: center"> Pizza дня<br>
                <hr style="border: 3px black solid;">
                </p>
                <button style="background-color: sandybrown; width: 300px;border: 0 transparent solid" class="side">

                    <p style="text-indent: 2px ; float: left; width: 100px;">
                        <img alt="Brand" class="img-responsive" src="../../static/img/small/pc.png">
                    </p>
                    <a id="daily" href="pizza with anchous.html"><h3 class="name">Піца з анчоусами</h3></a>

                    <hr style="width: 200px ;border: 2px black solid;">
                    <p id="price">Ціна: 90грн</p>
                    <br>
                    <p id="mass">Вага: 400г</p>
                    <p id="ingradients">Філе анчоуса в олії,<br> Моцарела,<br> помідори,<br>Цибуля,<br>Пармезан,<br>Каперси,<br>Каперси,<br>гострий
                        перець,</p>
                </button>
                <hr style="border: 0px black solid;">


                <p style="font-size: 30px;font-weight: bold; color: #e3af1e; text-align: center"> Акція -33%<br>
                <hr style="border: 3px black solid;">
                </p>
                <button style="background-color: sandybrown; width: 300px; border: 0 transparent solid" class="side">

                    <p style="text-indent: 2px ; float: left; width: 100px;">
                        <img alt="Brand" class="img-responsive" src="../../static/img/small/kn.png">
                    </p>
                    <a id="promotional" href="Pizza in conus form.html"><h3 class="name">Піца у формі конуса</h3></a>

                    <hr style="width: 200px ;border: 2px black solid;">
                    <p id="price">Ціна: 100грн</p>
                    <br>
                    <p id="mass">Вага: 300г</p>
                    <p id="ingradients">гриби ,<br> ріпчаста цибуля,<br> шинка ,<br>сир ,<br>болгарський перець ,<br>помідори
                        чері ,<br>зелень
                        ,<br>томатний соус ,</p>
                </button>
                <hr style="border: 3px black solid;">
            </div>
        </div>
    </aside>

</div>
<footer>
    <hr style="border: 0px black solid;">
    <pre class="title">Контакти: +38096745568                                     Також можете зєднатися з нами через соц. мережі: @twopizza(Instagram та Facebook)                     Доставка: Львів, Рівне, Київ, Стрий</pre>
</footer>
</body>