<!DOCTYPE html>
<html>

<head>
    <title>Success!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="../../static/css/style.css" rel="stylesheet">

</head>

<body>
<header>
    <nav style="height: 70px" id="main" class="navbar navbar-expand-lg">
        <a style="float: left;"><img alt="Brand" class="img-responsive" src="../../static/img/brand.png">
        </a>
        <a style="font-size: 30px; color: rgb(255, 228, 196); font-weight: bold;" href="index.html" class="nav-link"
           href="#">
            TwoPizza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" , id=xuyeta>
                <li class="nav-item active"><a class="nav-link" href="Menu.html"></i>Меню</a></li>
                <li class="nav-item active"><a class="nav-link" href="Constructor_Pizza.html">Конструктор</a></li>
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">Про сайт</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Registration.html">Реєстрація</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="den">
<h2 id="success">You were successfully registered at our site </h2>
<h2 id="qwe">:)</h2>

<button class="btn btn-success" type="submit" id="back"><a href="index.html">На головну</a></button>
</div>

</body>
</html>